body {
    font-family: sans-serif;

}

header a{
    color: white;
    text-decoration: none;
    border: 1px solid blue;
    padding: 5px;
    background-color: aqua;
    border-radius: 20px;
}

header {
    background-color: aqua;
}

h1 {
    font-size: 55px;
    background-color: aqua;
    text-align: center;
}

footer {
    background-color: aqua;
    font-size: 14px;
}
